.flex{
  display:flex;
}

.new-task {
  border: 1px solid #c7c0c0;
  padding: 0.5rem;
  width: 80%;
  box-sizing: border-box;
}

.btn {
  width: 20%;
  background-color: rgb(46, 139, 46);
  color:white;
}
